{% extends 'base_layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

    {# TO DO #}
    <div class="row">
        <div id="accordion" class='container col-xl-12'>
            <div class="card mb-1">
                <div class="card-header p-3" id="headingOne">
                    <h6 class="m-0 font-14">
                        <a href="#collapseOne" class="text-dark collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                            {{ page_title }}
                        </a>
                    </h6>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="">
                    <div class="card-body">
                        <form action="" id="update_customer" enctype="multipart/form-data" >
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Nom du client</label>
                                    <input type="text" class="form-control" name='customer_name' id="customer_name"
                                           data-parsley-required-message="prière de saisir le nom du client."
                                           placeholder="Zola"
                                           required >
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Prénom</label>
                                    <input type="text" class="form-control" name='customer_firstname' id="inputPassword4"
                                           data-parsley-required-message="prière de saisir le prénom"
                                           placeholder="Jean"
                                           required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Mobile Phone</label>
                                    <input type="text" class="form-control" name='cust_name' id="inputPassword4"
                                           data-parsley-type="digits"
                                           data-parsley-required-message="prière de saisir le numéro du téléphone du client."
                                           data-parsley-type-message="prière de saisir une valeur numérique"
                                           required placeholder="0849900300">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Genre</label>
                                    <select name="customer_genre" class="form-control select2" id="customer_genre"
                                            data-parsley-required-message="prière de sélectionner le genre"
                                            required>
                                        <option value=""></option>
                                        <option value="M">Masculin</option>
                                        <option value="F">Féminin</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Nombre d'occupants</label>
                                    <select class="form-control select2"
                                            data-parsley-required-message="prière de sélectionner le nombre d'occupant" name="customer_occupant" required>
                                        <option value=""></option>
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}" title="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            <div class="form-group col-md-4">
                                    <label for="inputEmail4">Chambre</label>
                                    <select class="form-control select2"
                                            data-parsley-required-message="prière de sélectionner la chambre" name="customer_room" required>
                                        <option value=""></option>
                                        {% for value in chambre_disponible %}
                                            <option value="{{ value.numero_chambre }},{{ value.prix }}" title="{{ value.description }}">
                                                {{ value.intitule }} &nbsp;|| {{ value.numero_chambre }} || Prix : {{ value.prix }} USD</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Type Pièce identité</label>
                                    <label for="inputEmail4">Province</label>
                                    <select class="form-control select2" name="cust_type_piece_identite"
                                            data-parsley-required-message="prière de sélectionner le type de pièce d'identité" required>
                                        <option value=""></option>
                                        <option value="1">Carte Identite</option>
                                        <option value="2">Passport</option>
                                        <option value="3">Permis de conduire</option>
                                        <option value="4">Carte Electeur</option>
                                        <option value="5">Carte Electeur</option>
                                        <option value="6">Carte scolaire</option>
                                        <option value="7">Carte professionnelle</option>
                                        <option value="8">Carte consulaire</option>
                                        <option value="9">Carte Militaire</option>
                                        <option value="10">Autre</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Numéro de la piece</label>
                                    <input type="text" class="form-control" id="" name='customer_numero_piece'
                                           data-parsley-required-message="prière de saisir le numéro de la pièce"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <div>
                                        <label for="cust_photo_piece_identite" class="">Photo de la pièce d’identité </label>
                                        <div class="form-group row">
                                            <div class="input-group col-9">
                                                <input type="file" name="cust_photo_piece_identite" id="customer_photo_piece_identite"
                                                       class="filestyle" data-input="false" data-buttonname="btn-secondary"
                                                       data-parsley-required-message="prière d'attaché la photo de la pièce"
                                                       required="required"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="input-daterange input-group" id="date-range">
                                    <div class="col-md-3 mb-3">
                                        <label for="inputStart">Du</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputStart"><i class="mdi mdi-calendar"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="" name="start_date" value="{{ start_date }}" placeholder="mm/dd/yyyy" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="inputEnd">Au</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id=""><i class="mdi mdi-calendar"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="" name="end_date" value="{{ end_date }}" placeholder="mm/dd/yyyy" required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary waves-effect">Réinitialiser</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="ti-save mr-2"></i>Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end row -->

    <!-- end row -->
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <style>
        .input-group-text {
            font-size: 11px;
        }
    </style>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="public/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="public/plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

    <script src="public/plugins/select2/js/select2.min.js"></script>
    <script src="public/plugins/parsleyjs/parsley.min.js"></script>

    <!-- sweet alert-->
    <script src="public/assets/js/sweetalert.min.js"></script>
    <!-- -->

    <script>
        function processForm() {
            update_customer.onsubmit  = async (e) => {
                if (!$('form').parsley().isValid()){
                    console.log("prière de remplir toutes les champs.");
                    return false;
                }
                e.preventDefault();
                let response = await fetch('./update_customer?request=change_owwner', {
                    method: 'POST',
                    body: new FormData(update_customer)
                });

                let result = await response.json();
                if (result.response_code==200) {
                    swal({
                        title: "Reussi",
                        text: result.message.resultDesc,
                        icon: "success",
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);

                    console.log(result.message);
                }else if (result.response_code==300){
                    swal("Erreurs survenus", result.message, "error");
                }else {
                    swal("Erreurs survenus", result.message, "error");
                }
            }
        }

        function validateForm()
        {
            var fields = ["cust_msisdn, cust_name", "cust_firstname", "cust_lastname",
                "cust_genre", "cust_civilite", "cust_province","cust_type_piece_identite",
                "cust_numero_piece","cust_photo_piece_identite","cust_fiche_identification"];
            var i, l = fields.length;
            let fieldname;
            for (i = 0; i < l; i++) {
                fieldname = fields[i];
                if (document.forms["update_customer"][fieldname].value === "") {
                    alert(fieldname + " can not be empty");
                    return false;
                }
            }
            return true;
        }
        function LoadParsleyAndSlect2(){
            $(document).ready(function() {
                $('form').parsley();
                $(".select2").select2();
            });
        }

        function checkNumber(value) {
            let pattern = /^\d+$/;
            console.log(pattern.test(value.value));
        }
        LoadParsleyAndSlect2();
        processForm();
    </script>

    <script>
    </script>
{% endblock %}